<html ng-app="social-flights">
<head>
  <title>Social Flights</title>
  <!-- library stylesheets -->
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="lib/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="lib/angular-material/themes/default-theme.css">
  <link rel="stylesheet" type="text/css" href="lib/angular-material/themes/light-blue-dark-theme.css">
  <link rel="stylesheet" type="text/css" href="lib/angular-material/themes/pink-theme.css">
  <link rel="stylesheet" type="text/css" href="lib/angular-material/themes/amber-theme.css">
  <link rel="stylesheet" type="text/css" href="lib/angular-material/themes/grey-theme.css">
  <link rel="stylesheet" type="text/css" href="lib/angular-material/themes/red-theme.css">
  <link rel="stylesheet" type="text/css" href="lib/angular-material/themes/teal-theme.css">
  <link rel="stylesheet" type="text/css" href="lib/angular-material/themes/indigo-theme.css">

  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="css/login.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <!-- Libraries -->
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-route/angular-route.min.js"></script>
  <script src="lib/angular-cookies/angular-cookies.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/angular-animate/angular-animate.min.js"></script>
  <script src="lib/angular-aria/angular-aria.min.js"></script>
  <script src="lib/angular-material/angular-material.min.js"></script>

  <script src="lib/hammerjs/hammer.min.js"></script>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/cryptojslib/rollups/sha512.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="lib/authenticateJS/build/authenticate.js"></script>

  <!-- include files -->
  <script src="app/configuration.js"></script>
  <script src="app/app.js"></script>

  <!-- Controllers -->
  <script src="app/controllers/navigation.js"></script>
  <script src="app/controllers/controllers.js"></script>
  <script src="app/controllers/login.js"></script>
  <script src="app/controllers/register.js"></script>
  <script src="app/controllers/profile.js"></script>
  <script src="app/controllers/flights.js"></script>

  <!-- Services -->
  <script stc="app/services/toast.js"></script>
</head>
<body ng-controller="appController">
<section layout="horizontal" flex>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="left" is-locked-open="$media('md')">
    <md-toolbar md-theme="amber" >
      <h1 class="md-toolbar-tools">Social Flights</h1>
    </md-toolbar>

    <md-content class="md-padding" ng-controller="LeftCtrl">
      <button class="menu-item menu-title" ng-click="load('/')"         ink-ripple>Home</button>
      <button class="menu-item menu-title" ng-click="load('/login')"    ink-ripple ng-hide="isLoggedIn">Login</button>
      <button class="menu-item menu-title" ng-click="load('/register')" ink-ripple ng-hide="isLoggedIn">Register</button>
      <button class="menu-item menu-title" ng-click="load('/profile')"  ink-ripple ng-show="isLoggedIn">Profile</button>
      <button class="menu-item menu-title" ng-click="load('/logout')"   ink-ripple ng-show="isLoggedIn">Logout</button>
    </md-content>
  </md-sidenav>

  <md-content ng-view scroll-y flex></md-content>
</section>
</body>
</html>