<md-toolbar md-theme="indigo">
    <div class="md-toolbar-tools">
        <div ng-include="'back.html'"></div>
        <span class="md-flex"><h1>Flights</h1></span>
    </div>
</md-toolbar>
<md-content class="md-padding" style="width: 100%;">
    <md-whiteframe class="md-whiteframe-z1" layout="vertical" layout-align="center center" flex>
        <md-content layout="horizontal" layout-align="space-around" style="width: 100% !important;">
            <md-text-float label="From" ng-model="form.from"> </md-text-float>
            <md-text-float label="To" ng-model="form.to"> </md-text-float>
        </md-content>

        <md-content layout="horizontal" layout-align="space-around" style="width: 100% !important;">
            <md-text-float label="Outbound" type="date" ng-model="form.outbound"> </md-text-float>
            <md-text-float label="Inbound" type="date" ng-model="form.inbound"> </md-text-float>
        </md-content>

        <md-content layout="horizontal" layout-align="space-around" style="width: 100% !important;">
            <md-slider md-theme="indigo" flex="60" min="0" max="8" ng-model="people" aria-label="red" id="red-slider"></md-slider>
        </md-content>
        <md-content layout="horizontal" layout-align="space-around" style="width: 100% !important;">
            <b>People:</b>{{ people }}
        </md-content>
        <br />
        <md-content ng-hide="loading" layout="horizontal" layout-align="space-around" style="width: 100% !important;">
            <md-button class="md-primary md-raised" md-theme="indigo" ng-click="search()">Find Tickets</md-button>
        </md-content>
    </md-whiteframe>

    <md-content ng-show="loading" layout="horizontal" layout-align="space-around" style="width: 100% !important;">
        <md-progress-circular md-theme="indigo" mode="indeterminate"></md-progress-circular>
    </md-content>

    <br />

    <md-whiteframe class="md-whiteframe-z2" layout="vertical" layout-align="center center" flex>
        <md-list>
            <md-item ng-repeat="flight in flights" style="cursor: hand;" ng-click="buy(flight)">
                <md-item-content>
                    <div class="md-tile-left" style="margin-right: 1em;">
                        <img ng-src="{{ flight.carrierLogo }}" class="face" alt="{{ flight.carrier }}">
                    </div>
                    <div class="md-tile-content" style="width: 15em;">
                        <h3>{{ flight.from + ' - ' + flight.to }}</h3>
                        <h4>{{ flight.duration + ' Minutes' }}</h4>
                    </div>
                    <div class="md-tile-content">
                        <md-button class="md-raised" style="background-color: #00ff00;">Buy</md-button>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </md-whiteframe>

</md-content>
