<md-toolbar md-theme="default">
    <div class="md-toolbar-tools">
      <div ng-include="'back.html'"></div>
      <span class="md-flex"><h1>{{message}}</h1></span>
    </div>
  </md-toolbar>
<md-content class="md-padding" layout-align="space-around">

    <md-whiteframe class="md-whiteframe-z1" layout="vertical" layout-align="center center">
        <md-toolbar md-theme="red">
            <div class="md-toolbar-tools">
                <span class="md-flex">Personal Info</span>
            </div>
        </md-toolbar>

        <md-whiteframe>
            <b>Email: </b><i>{{ user.email }}</i>
            <br />
            <b>First Name: </b><i>{{ user.first_name }}</i>
            <br />
            <b>Last Name: </b><i>{{ user.last_name }}</i>
            <br />
            <b>City: </b> <i>{{ user.city }}</i>
            <br />
            <b>Post Code: </b> <i>{{ user.postcode }}</i>
            <br />
            <b>Phone: </b> <i>{{ user.phone }}</i>
            <br />
            <b>Joined Date: </b> <i>{{ user.joined_date | date:'dd-MM-yyyy' }}</i>
        </md-whiteframe>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-z1" layout="vertical" layout-align="center center" style="margin-top: 1em;">
        <md-toolbar  md-theme="teal">
            <div class="md-toolbar-tools">
                <span class="md-flex">Flights</span>
            </div>
        </md-toolbar>
        <md-list>
            <md-item ng-repeat="flight in flights">
                <md-item-content>
                    <div class="md-tile-content">
                        <h3>{{flight.title}}</h3>
                        <h4>{{flight.date | date: 'dd-MM-yyy hh:mm'}}</h4>
                        <p>
                            {{flight.price}}
                        </p>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-z1" layout="vertical" layout-align="center center" style="margin-top: 1em;">
        <md-toolbar md-theme="amber">
            <div class="md-toolbar-tools">
                <span class="md-flex">Groups</span>
            </div>
        </md-toolbar>
        <md-list flex style="width: 100%;">
            <md-item ng-repeat="group in groups" style="cursor: hand;" ng-click="groupDetails(group)" flex>
                <md-item-content>
                    <md-button class="md-primary" md-theme="green" aria-label="group button" flex style="width: 100%;height: 8em;border-bottom:solid 1px #70c4cc;">
                        <h3>{{ group.name }}</h3>
                        <p>{{ group.description }}</p>
                    </md-button>
                </md-item-content>
            </md-item>
        </md-list>

        <md-button class="md-primary md-raised" md-theme="indigo" ng-click="showGridBottomSheet($event)" aria-label=Group Options>Groups Options</md-button>
    </md-whiteframe>

</md-content>
