<md-toolbar md-theme="indigo">
    <div class="md-toolbar-tools">
      <div ng-include="'back.html'"></div>
      <span class="md-flex"><h1>{{message}}</h1></span>
    </div>
  </md-toolbar>
<md-content class="md-padding" style="height: 600px;">

    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
        <h2>Email: {{ user.email }}</h2>
        <h3>Joined Date: {{ user.joined_date | date: 'dd-MM-yyyy' }}</h3>

        <md-list>
            <md-item ng-repeat="flight in user.flights">
                <md-item-content>
                    <div class="md-tile-content">
                        <h3>{{flight.title}}</h3>
                        <h4>{{flight.date | date: 'dd-MM-yyy hh:mm'}}</h4>
                        <p>
                            {{flight.price}}
                        </p>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </md-whiteframe>

</md-content>
