<md-toolbar md-theme="indigo">
  <div class="md-toolbar-tools">
    <div ng-include="'back.html'"></div>
    <span class="md-flex"><h1>{{message}}</h1></span>
  </div>
</md-toolbar>

<md-content class="md-padding" style="height: 600px;" md-theme="pink">

  <div class="form">
    <div>
      <form class="query-form" name='queryForm' ng-submit='submit()'>

        <label>Select your country:</label>
        <div ng-controller="TypeaheadCtrl">

            <input type="text" ng-model="selected" typeahead="country.name for country in countries | filter:$viewValue | limitTo:8" class="form-control">
        </div>
        <md-text-float label="Camera Model" ng-model="camera.model"></md-text-float>
        <md-text-float label="Camera Make" ng-model="camera.make"></md-text-float>

        <md-button class="md-raised md-primary" type="submit">Login</md-button>
      </form>
    </div>
  </div>
</md-content>
